{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row ">
    <div class='col-md-6 col-md-offset-3 hidden-xs text-center'>
      <img src="static/img/logo_v2.png",  class: "img-responsive "%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Login</h2>
      <form action="" method="post">
        <p><input type=text name=username class="form-control">
        <p><input type=text name=password class="form-control" type="password">
        <p><input type=submit value=Login class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}
