{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row ">
    <div class='col-md-6 col-md-offset-3 hidden-xs text-center'>
      <img src="static/img/logo_v2.png",  class: "img-responsive "%></img>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3 class="form-heading">Login <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <form action="" method="post">
        <p><input class="form-control" type="text" id="email" name=email placeholder="your@mail.com" required="True" autofocus="True"></p>
        <p><input class="form-control" type="password" id="password" name=password placeholder="Password" required="True"></p>
        <div class="checkbox text-right"><label><input type="checkbox" id="remember_me" name=remember_me> Remember me</label></div>
        <p class="text-right"><input class="btn btn-primary" type=submit value="Login"></p>
        <p class="text-right"><a href="#" class="btn btn-default">Password reset</a></p>
        <p class="text-right"><a href="{{ url_for('signup') }}" class="btn btn-default">Signup</a></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
