{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row ">
    <div class='col-md-6 col-md-offset-3 hidden-xs text-center'>
      <img src="static/img/logo_v2.png",  class: "img-responsive "%></img>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Login</h2>
      <form action="" method="post">
        <p><input class="form-control" type=text name=username></p>
        <p><input class="form-control" type="password" name=password></p>
        <p class="text-right"><input class="btn btn-primary" type=submit value=Login></p>
        <p class="text-right"><a href="#" class="btn btn-default">Forgotten password</a></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
