{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <form action="" method="post">
      <p><input type=text name=email class="form-control" id="inputEmail" placeholder="your@email.com" type="text">
      <p><input type=text name=password1 class="form-control" id="inputPass1" placeholder="password" type="password">
      <p><input type=text name=password2 class="form-control" id="inputPass2" placeholder="password" type="password">
      <p><input type=submit value=Submit  class="btn btn-primary">
    </form>
  </div>
</div>
{% endblock %}
